server:
  port: 8084
  servlet:
    context-path: /statisticsService

  rabbitmq:
    host: localhost
    port: 5672
    username: username
    password: password

crud:
  rabbitmq:
    exchange: crud.exchange
    queueCaso: crud.consumo.caso